.content {
  background-color: var(--bg-color-content);
  height: 100%;
  color: var(--text-color-title);
  transition: all 0.3s ease-in-out;
  width: calc(100% - 21rem);

  &__container {
    position: fixed;
    left: 17rem;
    padding: 2rem;
    height: calc(100% - 4rem);
    overflow-y: auto;
  }

  &__row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 0 2.5rem 0;

    &:last-child {
      margin: 0;
    }
  }

  &__title {
    font-size: 2.25rem;
    margin: 0;
    padding: 0;
  }

  &__subtitle {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    padding: 0;
  }

  &__subtitle--center {
    width: 100%;
    text-align: center;
  }

  &__text {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: var(--text-color);
  }

  &__theme-btn {
    position: fixed;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color-navbar);
    border-radius: 50%;
    padding: 0.2rem;
    top: 3rem;
    right: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    svg {
      border-radius: 1rem;
    }
  }

  &__visible-navbar-btn {
    transition: all 0.3s ease-in-out;
    display: none;
    position: fixed;
    top: 1.5rem;
    left: 1rem;
    width: 2.75rem;
    height: 2.5rem;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color-navbar);
    border-radius: 15%;
    cursor: pointer;

    svg {
      width: 1.75rem;
    }

    &.open {
      left: 18rem;
    }
  }
}

@media (max-width: 1199px) {
  .content {
    width: calc(100% - 4rem);

    &__container {
      left: 0;
    }

    &__visible-navbar-btn {
      display: inline-block;
    }

    &__container--visible {
      width: calc(100% - 21rem);
      left: 17rem;
    }
  }
}