.content {
  background-color: var(--bg-color-content);
  height: 100%;
  color: var(--text-color-title);
  transition: all 0.3s ease-in-out;

  &__container {
    position: fixed;
    left: 17rem;
    padding: 2rem;
    height: calc(100% - 4rem);
  }

  &__row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 0 0 2.5rem 0;

    &:last-child {
      margin: 0;
    }
  }

  &__title {
    font-size: 2.25rem;
    margin: 0;
    padding: 0;
  }

  &__subtitle {
    font-size: 1.5rem;
    margin: 0 0 1rem 0;
    padding: 0;
  }

  &__text {
    font-size: 1rem;
    margin: 0;
    padding: 0;
    color: var(--text-color);
  }

  &__theme-btn {
    position: absolute;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color-navbar);
    border-radius: 50%;
    padding: 0.2rem;
    top: 3rem;
    right: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;

    svg {
      border-radius: 1rem;
    }
  }
}

@media (max-width: 1199px) {
  .content {
    &__container {
      left: 0;
    }
  }
}