@use 'variables';

@use 'about';
@use 'content';
@use 'navbar';
@use 'home';
@use 'contacts';
@use 'techbologies';

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0 auto;
}