@use 'variables';

@use 'about';
@use 'content';
@use 'navbar';
@use 'home';
@use 'contacts';
@use 'techbologies';

@import url('https://fonts.googleapis.com/css2?family=Tangerine:wght@400;700&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  z-index: 10;
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background: var(--bg-color-navbar);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: color-mix(in srgb, var(--skin-color) 60%, transparent);
  border-radius: 0.5rem;
  width: 0.5rem;
  box-shadow: 0 0 0.3rem var(--bg-color-navbar) inset;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--skin-color);
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0 auto;
}