@use 'variables';
@use 'about';
@use 'content';
@use 'navbar';
@use 'personal__item';
@use 'home';

:root {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;

  color-scheme: light dark;
  color: var(--bg-color-50);
  background-color: var(--bg-color-900);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  //display: flex;
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

#app {
  display: flex;
  flex-direction: row;
  height: 100vh;
  margin: 0 auto;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
