.personal__item {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  box-sizing: border-box;

  p {
    margin: 0;
    padding: 0.5rem 0;
    border-bottom: var(--bg-color-700) 1px solid;
  }

  span {
    color: var(--bg-color-400);
    display: block;
  }
}